@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background-image: url(/content/law1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@media only screen and (max-width: 780px) { 
    body { 
        background-image: url(/content/law1-mobile.jpg);
    } 
}
.navbar .navbar-collapse {
    text-align:right;
}
@media only screen and (max-width: 940px) {
    .nav-link {
        font-size: 1.50vw;
    }
}
@media only screen and (max-width: 767px) {
    .nav-link {
        font-size: 2.90vw;
    }
}
.nav-link {
    font-family: 'Lexend Exa', sans-serif;
}
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.005);
    border-style: groove;
    border-width: 0.05em;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.10);
    border-style: groove;
    border-width: 0.05em;
    border-color: rgba(255, 255, 255, 0.25);
    border-radius: 0.25rem;
}
.navbar-toggler {
    position: relative;
    top: 60px;
    margin-right: 1%;
}
@media only screen and (max-width: 940px) {
    .card {
        font-size: 2.50vw;
    }
}
@media only screen and (max-width: 767px) {
    .card {
        font-size: 2.65vw;
    }
}
.card {
    font-family: 'Lexend Exa', sans-serif;
}