@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');
.navbar .navbar-collapse {
    text-align: center;
}
.nav-link {
    font-family: 'Lexend Exa', sans-serif;
}
.carousel,.item,.active {
    height:100%;
    width: 100%;
}
.carousel-inner {
     height:100%;
     width: 100%;
}
#carouselfullwidth {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}